.App {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family:Georgia, Times, 'Times New Roman', serif;
  background-color: #f2f0ef;
}

body {
  padding: 0;
  margin: 0;
}
